<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737330944316-t2hunqt3d8lflrkr3lfn2u1tloli27iu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737330944316-t2hunqt3d8lflrkr3lfn2u1tloli27iu</string>
	<key>API_KEY</key>
	<string>AIzaSyCkaUcIoZArmhR52aQcO-OjcRqd4KVFW-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>737330944316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chungwonDiary</string>
	<key>PROJECT_ID</key>
	<string>chungwoon-diary</string>
	<key>STORAGE_BUCKET</key>
	<string>chungwoon-diary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737330944316:ios:aa7c4aefbaf62d54d5e639</string>
</dict>
</plist>